/*
 * FIWARE-NGSI v2 Specification
 * FIWARE-NGSI v2 Specification
 *
 * OpenAPI spec version: 
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package org.interiot.fiware.ngsiv2.client.api;

import org.interiot.fiware.ngsiv2.client.ApiCallback;
import org.interiot.fiware.ngsiv2.client.ApiClient;
import org.interiot.fiware.ngsiv2.client.ApiException;
import org.interiot.fiware.ngsiv2.client.ApiResponse;
import org.interiot.fiware.ngsiv2.client.Configuration;
import org.interiot.fiware.ngsiv2.client.Pair;
import org.interiot.fiware.ngsiv2.client.ProgressRequestBody;
import org.interiot.fiware.ngsiv2.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import org.interiot.fiware.ngsiv2.client.model.Registration;
import org.interiot.fiware.ngsiv2.client.model.Subscription;
import org.interiot.fiware.ngsiv2.client.model.Discoverrequest;
import org.interiot.fiware.ngsiv2.client.model.Entity;
import org.interiot.fiware.ngsiv2.client.model.Queryrequest;
import org.interiot.fiware.ngsiv2.client.model.Queryresponse;
import org.interiot.fiware.ngsiv2.client.model.Registerrequest;
import org.interiot.fiware.ngsiv2.client.model.Attributes;
import org.interiot.fiware.ngsiv2.client.model.Resources;
import org.interiot.fiware.ngsiv2.client.model.EntityType;
import org.interiot.fiware.ngsiv2.client.model.UpdateRequest;
import org.interiot.fiware.ngsiv2.client.model.Attribute;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AllApi {
	private ApiClient apiClient;

	public AllApi() {
		this(Configuration.getDefaultApiClient());
	}

	public AllApi(ApiClient apiClient) {
		this.apiClient = apiClient;
	}

	public ApiClient getApiClient() {
		return apiClient;
	}

	public void setApiClient(ApiClient apiClient) {
		this.apiClient = apiClient;
	}

	/* Build call for createANewContextProviderRegistration */
	private com.squareup.okhttp.Call createANewContextProviderRegistrationCall(Registration body,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = body;

		// verify the required parameter 'body' is set
		if (body == null) {
			throw new ApiException(
					"Missing the required parameter 'body' when calling createANewContextProviderRegistration(Async)");
		}

		// create path and map variables
		String localVarPath = "/v2/registrations".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * Creates a new registration. This is typically used for associating
	 * context providers to certain data. The registration is represented by a
	 * JSON object as described at the beginning of this section. Response: *
	 * Successful operation uses 201 Created * Errors use a non-2xx and
	 * (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void createANewContextProviderRegistration(Registration body) throws ApiException {
		createANewContextProviderRegistrationWithHttpInfo(body);
	}

	/**
	 * 
	 * Creates a new registration. This is typically used for associating
	 * context providers to certain data. The registration is represented by a
	 * JSON object as described at the beginning of this section. Response: *
	 * Successful operation uses 201 Created * Errors use a non-2xx and
	 * (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> createANewContextProviderRegistrationWithHttpInfo(Registration body) throws ApiException {
		com.squareup.okhttp.Call call = createANewContextProviderRegistrationCall(body, null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) Creates a new registration. This is typically used for
	 * associating context providers to certain data. The registration is
	 * represented by a JSON object as described at the beginning of this
	 * section. Response: * Successful operation uses 201 Created * Errors use a
	 * non-2xx and (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createANewContextProviderRegistrationAsync(Registration body,
			final ApiCallback<Void> callback) throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createANewContextProviderRegistrationCall(body, progressListener,
				progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for createANewSubscription */
	private com.squareup.okhttp.Call createANewSubscriptionCall(Subscription body,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = body;

		// verify the required parameter 'body' is set
		if (body == null) {
			throw new ApiException("Missing the required parameter 'body' when calling createANewSubscription(Async)");
		}		

		// create path and map variables
		String localVarPath = "/v2/subscriptions".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * Creates a new subscription. The subscription is represented by a JSON
	 * object as described at the beginning of this section. Response: *
	 * Successful operation uses 201 Created * Errors use a non-2xx and
	 * (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void createANewSubscription(Subscription body) throws ApiException {
		createANewSubscriptionWithHttpInfo(body);
	}

	/**
	 * 
	 * Creates a new subscription. The subscription is represented by a JSON
	 * object as described at the beginning of this section. Response: *
	 * Successful operation uses 201 Created * Errors use a non-2xx and
	 * (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> createANewSubscriptionWithHttpInfo(Subscription body) throws ApiException {
		com.squareup.okhttp.Call call = createANewSubscriptionCall(body, null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) Creates a new subscription. The subscription is
	 * represented by a JSON object as described at the beginning of this
	 * section. Response: * Successful operation uses 201 Created * Errors use a
	 * non-2xx and (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createANewSubscriptionAsync(Subscription body, final ApiCallback<Void> callback)
			throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createANewSubscriptionCall(body, progressListener, progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for createDiscover */
	private com.squareup.okhttp.Call createDiscoverCall(Discoverrequest body, Double limit, Double offset,
			String options, final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = body;

		// verify the required parameter 'body' is set
		if (body == null) {
			throw new ApiException("Missing the required parameter 'body' when calling createDiscover(Async)");
		}

		// create path and map variables
		String localVarPath = "/v2/op/discover/".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();
		if (limit != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
		if (offset != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
		if (options != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "options", options));

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * The response payload is an Array that contains one object per matching
	 * registration. The registrations follow the JSON registration
	 * representation format (described in a section above). The payload may
	 * contain the following elements (all of them optional): +
	 * &#x60;entities&#x60;: a list of entites to search for. Each entity is
	 * represented by a JSON object with the following elements: +
	 * &#x60;id&#x60; or &#x60;idPattern&#x60;: Id or pattern of the affected
	 * entities. Both cannot be used at the same time, but at least one of them
	 * must be present. + &#x60;type&#x60; or &#x60;typePattern&#x60;: Type or
	 * type pattern of the entities to search for. Both cannot be used at the
	 * same time. If omitted, it means \&quot;any entity type\&quot;. +
	 * &#x60;attributes&#x60;: a list of attribute names to search for. If
	 * omitted, it means \&quot;all attributes\&quot;. + &#x60;scopes&#x60;: a
	 * list of scopes to restrict the results of the query. Each scope is
	 * represented by a JSON object with a &#x60;type&#x60; (a JSON string) and
	 * a &#x60;value&#x60; (whose type depends on the &#x60;type&#x60;
	 * property). The different available scopes are described elsewhere.
	 * Response code: * Successful operation uses 200 OK * Errors use a non-2xx
	 * and (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @param limit
	 *            Limit the number of registrations to be retrieved. (optional)
	 * @param offset
	 *            Skip a number of registrations. (optional)
	 * @param options
	 *            Options dictionary. (optional)
	 * @return List&lt;Registration&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public List<Registration> createDiscover(Discoverrequest body, Double limit, Double offset, String options)
			throws ApiException {
		ApiResponse<List<Registration>> resp = createDiscoverWithHttpInfo(body, limit, offset, options);
		return resp.getData();
	}

	/**
	 * 
	 * The response payload is an Array that contains one object per matching
	 * registration. The registrations follow the JSON registration
	 * representation format (described in a section above). The payload may
	 * contain the following elements (all of them optional): +
	 * &#x60;entities&#x60;: a list of entites to search for. Each entity is
	 * represented by a JSON object with the following elements: +
	 * &#x60;id&#x60; or &#x60;idPattern&#x60;: Id or pattern of the affected
	 * entities. Both cannot be used at the same time, but at least one of them
	 * must be present. + &#x60;type&#x60; or &#x60;typePattern&#x60;: Type or
	 * type pattern of the entities to search for. Both cannot be used at the
	 * same time. If omitted, it means \&quot;any entity type\&quot;. +
	 * &#x60;attributes&#x60;: a list of attribute names to search for. If
	 * omitted, it means \&quot;all attributes\&quot;. + &#x60;scopes&#x60;: a
	 * list of scopes to restrict the results of the query. Each scope is
	 * represented by a JSON object with a &#x60;type&#x60; (a JSON string) and
	 * a &#x60;value&#x60; (whose type depends on the &#x60;type&#x60;
	 * property). The different available scopes are described elsewhere.
	 * Response code: * Successful operation uses 200 OK * Errors use a non-2xx
	 * and (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @param limit
	 *            Limit the number of registrations to be retrieved. (optional)
	 * @param offset
	 *            Skip a number of registrations. (optional)
	 * @param options
	 *            Options dictionary. (optional)
	 * @return ApiResponse&lt;List&lt;Registration&gt;&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<List<Registration>> createDiscoverWithHttpInfo(Discoverrequest body, Double limit, Double offset,
			String options) throws ApiException {
		com.squareup.okhttp.Call call = createDiscoverCall(body, limit, offset, options, null, null);
		Type localVarReturnType = new TypeToken<List<Registration>>() {
		}.getType();
		return apiClient.execute(call, localVarReturnType);
	}

	/**
	 * (asynchronously) The response payload is an Array that contains one
	 * object per matching registration. The registrations follow the JSON
	 * registration representation format (described in a section above). The
	 * payload may contain the following elements (all of them optional): +
	 * &#x60;entities&#x60;: a list of entites to search for. Each entity is
	 * represented by a JSON object with the following elements: +
	 * &#x60;id&#x60; or &#x60;idPattern&#x60;: Id or pattern of the affected
	 * entities. Both cannot be used at the same time, but at least one of them
	 * must be present. + &#x60;type&#x60; or &#x60;typePattern&#x60;: Type or
	 * type pattern of the entities to search for. Both cannot be used at the
	 * same time. If omitted, it means \&quot;any entity type\&quot;. +
	 * &#x60;attributes&#x60;: a list of attribute names to search for. If
	 * omitted, it means \&quot;all attributes\&quot;. + &#x60;scopes&#x60;: a
	 * list of scopes to restrict the results of the query. Each scope is
	 * represented by a JSON object with a &#x60;type&#x60; (a JSON string) and
	 * a &#x60;value&#x60; (whose type depends on the &#x60;type&#x60;
	 * property). The different available scopes are described elsewhere.
	 * Response code: * Successful operation uses 200 OK * Errors use a non-2xx
	 * and (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @param limit
	 *            Limit the number of registrations to be retrieved. (optional)
	 * @param offset
	 *            Skip a number of registrations. (optional)
	 * @param options
	 *            Options dictionary. (optional)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createDiscoverAsync(Discoverrequest body, Double limit, Double offset,
			String options, final ApiCallback<List<Registration>> callback) throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createDiscoverCall(body, limit, offset, options, progressListener,
				progressRequestListener);
		Type localVarReturnType = new TypeToken<List<Registration>>() {
		}.getType();
		apiClient.executeAsync(call, localVarReturnType, callback);
		return call;
	}

	/* Build call for createEntity */
	private com.squareup.okhttp.Call createEntityCall(Entity body, String options,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = body;

		// verify the required parameter 'body' is set
		if (body == null) {
			throw new ApiException("Missing the required parameter 'body' when calling createEntity(Async)");
		}

		// create path and map variables
		String localVarPath = "/v2/entities".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();
		if (options != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "options", options));

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * The payload is an object representing the entity to be created. The
	 * object follows the JSON entity representation format (described in a
	 * \&quot;JSON Entity Representation\&quot; section). Response: * Successful
	 * operation uses 201 Created. Reponse includes a &#x60;Location&#x60;
	 * header with the URL of the created entity. * Errors use a non-2xx and
	 * (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @param options
	 *            Options dictionary (optional)
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void createEntity(Entity body, String options) throws ApiException {
		createEntityWithHttpInfo(body, options);
	}

	/**
	 * 
	 * The payload is an object representing the entity to be created. The
	 * object follows the JSON entity representation format (described in a
	 * \&quot;JSON Entity Representation\&quot; section). Response: * Successful
	 * operation uses 201 Created. Reponse includes a &#x60;Location&#x60;
	 * header with the URL of the created entity. * Errors use a non-2xx and
	 * (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @param options
	 *            Options dictionary (optional)
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> createEntityWithHttpInfo(Entity body, String options) throws ApiException {
		com.squareup.okhttp.Call call = createEntityCall(body, options, null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) The payload is an object representing the entity to be
	 * created. The object follows the JSON entity representation format
	 * (described in a \&quot;JSON Entity Representation\&quot; section).
	 * Response: * Successful operation uses 201 Created. Reponse includes a
	 * &#x60;Location&#x60; header with the URL of the created entity. * Errors
	 * use a non-2xx and (optionally) an error payload. See subsection on
	 * \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @param options
	 *            Options dictionary (optional)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createEntityAsync(Entity body, String options, final ApiCallback<Void> callback)
			throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createEntityCall(body, options, progressListener, progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for createNotifyContext */
	private com.squareup.okhttp.Call createNotifyContextCall(
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// create path and map variables
		String localVarPath = "/v2/notifyContext".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * (The payload of the v2 notifyContext should be described)
	 * 
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void createNotifyContext() throws ApiException {
		createNotifyContextWithHttpInfo();
	}

	/**
	 * 
	 * (The payload of the v2 notifyContext should be described)
	 * 
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> createNotifyContextWithHttpInfo() throws ApiException {
		com.squareup.okhttp.Call call = createNotifyContextCall(null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) (The payload of the v2 notifyContext should be
	 * described)
	 * 
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createNotifyContextAsync(final ApiCallback<Void> callback) throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createNotifyContextCall(progressListener, progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for createNotifyContextAvailability */
	private com.squareup.okhttp.Call createNotifyContextAvailabilityCall(
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// create path and map variables
		String localVarPath = "/v2/notifyContextAvailability".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * (The payload of the v2 notifyContextAvailability should be described)
	 * 
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void createNotifyContextAvailability() throws ApiException {
		createNotifyContextAvailabilityWithHttpInfo();
	}

	/**
	 * 
	 * (The payload of the v2 notifyContextAvailability should be described)
	 * 
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> createNotifyContextAvailabilityWithHttpInfo() throws ApiException {
		com.squareup.okhttp.Call call = createNotifyContextAvailabilityCall(null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) (The payload of the v2 notifyContextAvailability should
	 * be described)
	 * 
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createNotifyContextAvailabilityAsync(final ApiCallback<Void> callback)
			throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createNotifyContextAvailabilityCall(progressListener, progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for createQuery */
	private com.squareup.okhttp.Call createQueryCall(Queryrequest body, Double limit, Double offset, String orderBy,
			String options, final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = body;

		// verify the required parameter 'body' is set
		if (body == null) {
			throw new ApiException("Missing the required parameter 'body' when calling createQuery(Async)");
		}

		// create path and map variables
		String localVarPath = "/v2/op/query".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();
		if (limit != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
		if (offset != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
		if (orderBy != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "orderBy", orderBy));
		if (options != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "options", options));

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * The response payload is an Array containing one object per matching
	 * entity, or an empty array &#x60;[]&#x60; if no entities are found. The
	 * entities follow the JSON entity representation format (described in the
	 * section \&quot;JSON Entity Representation\&quot;). The payload may
	 * contain the following elements (all of them optional): +
	 * &#x60;entities&#x60;: a list of entites to search for. Each element is
	 * represented by a JSON object with the following elements: +
	 * &#x60;id&#x60; or &#x60;idPattern&#x60;: Id or pattern of the affected
	 * entities. Both cannot be used at the same time, but at least one of them
	 * must be present. + &#x60;type&#x60; or &#x60;typePattern&#x60;: Type or
	 * type pattern of the entities to search for. Both cannot be used at the
	 * same time. If omitted, it means \&quot;any entity type\&quot;. +
	 * &#x60;attributes&#x60;: a list of attribute names to search for. If
	 * omitted, it means \&quot;all attributes\&quot;. + &#x60;scopes&#x60;: a
	 * list of scopes to restrict the result of the query. Each scope is
	 * represented by a JSON object with a &#x60;type&#x60; (a JSON string) and
	 * &#x60;value&#x60; (whose type depends on the &#x60;type&#x60; property).
	 * The different available scopes are described elsewhere. Response code: *
	 * Successful operation uses 200 OK * Errors use a non-2xx and (optionally)
	 * an error payload. See subsection on \&quot;Error Responses\&quot; for
	 * more details.
	 * 
	 * @param body
	 *            (required)
	 * @param limit
	 *            Limit the number of entities to be retrieved. (optional)
	 * @param offset
	 *            Skip a number of records. (optional)
	 * @param orderBy
	 *            Criteria for ordering results. See \&quot;Ordering
	 *            Results\&quot; section for details. (optional)
	 * @param options
	 *            Options dictionary (optional)
	 * @return List&lt;Queryresponse&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public List<Queryresponse> createQuery(Queryrequest body, Double limit, Double offset, String orderBy,
			String options) throws ApiException {
		ApiResponse<List<Queryresponse>> resp = createQueryWithHttpInfo(body, limit, offset, orderBy, options);
		return resp.getData();
	}

	/**
	 * 
	 * The response payload is an Array containing one object per matching
	 * entity, or an empty array &#x60;[]&#x60; if no entities are found. The
	 * entities follow the JSON entity representation format (described in the
	 * section \&quot;JSON Entity Representation\&quot;). The payload may
	 * contain the following elements (all of them optional): +
	 * &#x60;entities&#x60;: a list of entites to search for. Each element is
	 * represented by a JSON object with the following elements: +
	 * &#x60;id&#x60; or &#x60;idPattern&#x60;: Id or pattern of the affected
	 * entities. Both cannot be used at the same time, but at least one of them
	 * must be present. + &#x60;type&#x60; or &#x60;typePattern&#x60;: Type or
	 * type pattern of the entities to search for. Both cannot be used at the
	 * same time. If omitted, it means \&quot;any entity type\&quot;. +
	 * &#x60;attributes&#x60;: a list of attribute names to search for. If
	 * omitted, it means \&quot;all attributes\&quot;. + &#x60;scopes&#x60;: a
	 * list of scopes to restrict the result of the query. Each scope is
	 * represented by a JSON object with a &#x60;type&#x60; (a JSON string) and
	 * &#x60;value&#x60; (whose type depends on the &#x60;type&#x60; property).
	 * The different available scopes are described elsewhere. Response code: *
	 * Successful operation uses 200 OK * Errors use a non-2xx and (optionally)
	 * an error payload. See subsection on \&quot;Error Responses\&quot; for
	 * more details.
	 * 
	 * @param body
	 *            (required)
	 * @param limit
	 *            Limit the number of entities to be retrieved. (optional)
	 * @param offset
	 *            Skip a number of records. (optional)
	 * @param orderBy
	 *            Criteria for ordering results. See \&quot;Ordering
	 *            Results\&quot; section for details. (optional)
	 * @param options
	 *            Options dictionary (optional)
	 * @return ApiResponse&lt;List&lt;Queryresponse&gt;&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<List<Queryresponse>> createQueryWithHttpInfo(Queryrequest body, Double limit, Double offset,
			String orderBy, String options) throws ApiException {
		com.squareup.okhttp.Call call = createQueryCall(body, limit, offset, orderBy, options, null, null);
		Type localVarReturnType = new TypeToken<List<Queryresponse>>() {
		}.getType();
		return apiClient.execute(call, localVarReturnType);
	}

	/**
	 * (asynchronously) The response payload is an Array containing one object
	 * per matching entity, or an empty array &#x60;[]&#x60; if no entities are
	 * found. The entities follow the JSON entity representation format
	 * (described in the section \&quot;JSON Entity Representation\&quot;). The
	 * payload may contain the following elements (all of them optional): +
	 * &#x60;entities&#x60;: a list of entites to search for. Each element is
	 * represented by a JSON object with the following elements: +
	 * &#x60;id&#x60; or &#x60;idPattern&#x60;: Id or pattern of the affected
	 * entities. Both cannot be used at the same time, but at least one of them
	 * must be present. + &#x60;type&#x60; or &#x60;typePattern&#x60;: Type or
	 * type pattern of the entities to search for. Both cannot be used at the
	 * same time. If omitted, it means \&quot;any entity type\&quot;. +
	 * &#x60;attributes&#x60;: a list of attribute names to search for. If
	 * omitted, it means \&quot;all attributes\&quot;. + &#x60;scopes&#x60;: a
	 * list of scopes to restrict the result of the query. Each scope is
	 * represented by a JSON object with a &#x60;type&#x60; (a JSON string) and
	 * &#x60;value&#x60; (whose type depends on the &#x60;type&#x60; property).
	 * The different available scopes are described elsewhere. Response code: *
	 * Successful operation uses 200 OK * Errors use a non-2xx and (optionally)
	 * an error payload. See subsection on \&quot;Error Responses\&quot; for
	 * more details.
	 * 
	 * @param body
	 *            (required)
	 * @param limit
	 *            Limit the number of entities to be retrieved. (optional)
	 * @param offset
	 *            Skip a number of records. (optional)
	 * @param orderBy
	 *            Criteria for ordering results. See \&quot;Ordering
	 *            Results\&quot; section for details. (optional)
	 * @param options
	 *            Options dictionary (optional)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createQueryAsync(Queryrequest body, Double limit, Double offset, String orderBy,
			String options, final ApiCallback<List<Queryresponse>> callback) throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createQueryCall(body, limit, offset, orderBy, options, progressListener,
				progressRequestListener);
		Type localVarReturnType = new TypeToken<List<Queryresponse>>() {
		}.getType();
		apiClient.executeAsync(call, localVarReturnType, callback);
		return call;
	}

	/* Build call for createRegister */
	private com.squareup.okhttp.Call createRegisterCall(Registerrequest body,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = body;

		// verify the required parameter 'body' is set
		if (body == null) {
			throw new ApiException("Missing the required parameter 'body' when calling createRegister(Async)");
		}

		// create path and map variables
		String localVarPath = "/v2/op/register".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * This operation allows to create, update and/or delete several
	 * registrations in a single batch operation. The payload is an object with
	 * two properties: + &#x60;actionType&#x60;, to specify the kind of register
	 * action to do: either CREATE, UPDATE, or DELETE. +
	 * &#x60;registrations&#x60;, an array of registrations, each one specified
	 * using the JSON registration representation format (described above). In
	 * the case of CREATE operation, the registration &#x60;id&#x60; must not be
	 * included. Response: * Successful operation uses 200 OK. In addition, in
	 * the case of successful CREATE, a list of IDs is returned, each one
	 * corresponding to the ID of the element in the request payload and in that
	 * same order. * Errors use a non-2xx and (optionally) an error payload. See
	 * subsection on \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @return List&lt;String&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public List<String> createRegister(Registerrequest body) throws ApiException {
		ApiResponse<List<String>> resp = createRegisterWithHttpInfo(body);
		return resp.getData();
	}

	/**
	 * 
	 * This operation allows to create, update and/or delete several
	 * registrations in a single batch operation. The payload is an object with
	 * two properties: + &#x60;actionType&#x60;, to specify the kind of register
	 * action to do: either CREATE, UPDATE, or DELETE. +
	 * &#x60;registrations&#x60;, an array of registrations, each one specified
	 * using the JSON registration representation format (described above). In
	 * the case of CREATE operation, the registration &#x60;id&#x60; must not be
	 * included. Response: * Successful operation uses 200 OK. In addition, in
	 * the case of successful CREATE, a list of IDs is returned, each one
	 * corresponding to the ID of the element in the request payload and in that
	 * same order. * Errors use a non-2xx and (optionally) an error payload. See
	 * subsection on \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @return ApiResponse&lt;List&lt;String&gt;&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<List<String>> createRegisterWithHttpInfo(Registerrequest body) throws ApiException {
		com.squareup.okhttp.Call call = createRegisterCall(body, null, null);
		Type localVarReturnType = new TypeToken<List<String>>() {
		}.getType();
		return apiClient.execute(call, localVarReturnType);
	}

	/**
	 * (asynchronously) This operation allows to create, update and/or delete
	 * several registrations in a single batch operation. The payload is an
	 * object with two properties: + &#x60;actionType&#x60;, to specify the kind
	 * of register action to do: either CREATE, UPDATE, or DELETE. +
	 * &#x60;registrations&#x60;, an array of registrations, each one specified
	 * using the JSON registration representation format (described above). In
	 * the case of CREATE operation, the registration &#x60;id&#x60; must not be
	 * included. Response: * Successful operation uses 200 OK. In addition, in
	 * the case of successful CREATE, a list of IDs is returned, each one
	 * corresponding to the ID of the element in the request payload and in that
	 * same order. * Errors use a non-2xx and (optionally) an error payload. See
	 * subsection on \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param body
	 *            (required)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createRegisterAsync(Registerrequest body, final ApiCallback<List<String>> callback)
			throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createRegisterCall(body, progressListener, progressRequestListener);
		Type localVarReturnType = new TypeToken<List<String>>() {
		}.getType();
		apiClient.executeAsync(call, localVarReturnType, callback);
		return call;
	}

	/* Build call for createSubscribeContext */
	private com.squareup.okhttp.Call createSubscribeContextCall(
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// create path and map variables
		String localVarPath = "/v2/subscribeContext".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * (Not needed, as it is covered by the RESTful POST /v2/subscriptions
	 * operation)
	 * 
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void createSubscribeContext() throws ApiException {
		createSubscribeContextWithHttpInfo();
	}

	/**
	 * 
	 * (Not needed, as it is covered by the RESTful POST /v2/subscriptions
	 * operation)
	 * 
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> createSubscribeContextWithHttpInfo() throws ApiException {
		com.squareup.okhttp.Call call = createSubscribeContextCall(null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) (Not needed, as it is covered by the RESTful POST
	 * /v2/subscriptions operation)
	 * 
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createSubscribeContextAsync(final ApiCallback<Void> callback) throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createSubscribeContextCall(progressListener, progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for createSubscribeContextAvailability */
	private com.squareup.okhttp.Call createSubscribeContextAvailabilityCall(
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// create path and map variables
		String localVarPath = "/v2/subscribeContextAvailability".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * (Not needed as POJ RPC, but we need to define a RESTful operation for
	 * this, analogous to the NGSI10 one)
	 * 
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void createSubscribeContextAvailability() throws ApiException {
		createSubscribeContextAvailabilityWithHttpInfo();
	}

	/**
	 * 
	 * (Not needed as POJ RPC, but we need to define a RESTful operation for
	 * this, analogous to the NGSI10 one)
	 * 
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> createSubscribeContextAvailabilityWithHttpInfo() throws ApiException {
		com.squareup.okhttp.Call call = createSubscribeContextAvailabilityCall(null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) (Not needed as POJ RPC, but we need to define a RESTful
	 * operation for this, analogous to the NGSI10 one)
	 * 
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createSubscribeContextAvailabilityAsync(final ApiCallback<Void> callback)
			throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createSubscribeContextAvailabilityCall(progressListener,
				progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for createUnsubscribeContext */
	private com.squareup.okhttp.Call createUnsubscribeContextCall(
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// create path and map variables
		String localVarPath = "/v2/unsubscribeContext".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * (Not needed, as it is covered by the RESTful DELETE /v2/subscriptions
	 * operation)
	 * 
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void createUnsubscribeContext() throws ApiException {
		createUnsubscribeContextWithHttpInfo();
	}

	/**
	 * 
	 * (Not needed, as it is covered by the RESTful DELETE /v2/subscriptions
	 * operation)
	 * 
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> createUnsubscribeContextWithHttpInfo() throws ApiException {
		com.squareup.okhttp.Call call = createUnsubscribeContextCall(null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) (Not needed, as it is covered by the RESTful DELETE
	 * /v2/subscriptions operation)
	 * 
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createUnsubscribeContextAsync(final ApiCallback<Void> callback)
			throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createUnsubscribeContextCall(progressListener, progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for createUnsubscribeContextAvailability */
	private com.squareup.okhttp.Call createUnsubscribeContextAvailabilityCall(
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// create path and map variables
		String localVarPath = "/v2/unsubscribeContextAvailability".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * (Not needed as POJ RPC, but we need to define a RESTful operation for
	 * this, analogous to the NGSI10 one)
	 * 
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void createUnsubscribeContextAvailability() throws ApiException {
		createUnsubscribeContextAvailabilityWithHttpInfo();
	}

	/**
	 * 
	 * (Not needed as POJ RPC, but we need to define a RESTful operation for
	 * this, analogous to the NGSI10 one)
	 * 
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> createUnsubscribeContextAvailabilityWithHttpInfo() throws ApiException {
		com.squareup.okhttp.Call call = createUnsubscribeContextAvailabilityCall(null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) (Not needed as POJ RPC, but we need to define a RESTful
	 * operation for this, analogous to the NGSI10 one)
	 * 
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call createUnsubscribeContextAvailabilityAsync(final ApiCallback<Void> callback)
			throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = createUnsubscribeContextAvailabilityCall(progressListener,
				progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for deleteContextProviderRegistration */
	private com.squareup.okhttp.Call deleteContextProviderRegistrationCall(String registrationId,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// verify the required parameter 'registrationId' is set
		if (registrationId == null) {
			throw new ApiException(
					"Missing the required parameter 'registrationId' when calling deleteContextProviderRegistration(Async)");
		}

		// create path and map variables
		String localVarPath = "/v2/registrations/{registrationId}".replaceAll("\\{format\\}", "json")
				.replaceAll("\\{" + "registrationId" + "\\}", apiClient.escapeString(registrationId.toString()));

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * Cancels registration. Response: * Successful operation uses 204 No
	 * Content * Errors use a non-2xx and (optionally) an error payload. See
	 * subsection on \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param registrationId
	 *            registration Id. (required)
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void deleteContextProviderRegistration(String registrationId) throws ApiException {
		deleteContextProviderRegistrationWithHttpInfo(registrationId);
	}

	/**
	 * 
	 * Cancels registration. Response: * Successful operation uses 204 No
	 * Content * Errors use a non-2xx and (optionally) an error payload. See
	 * subsection on \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param registrationId
	 *            registration Id. (required)
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> deleteContextProviderRegistrationWithHttpInfo(String registrationId) throws ApiException {
		com.squareup.okhttp.Call call = deleteContextProviderRegistrationCall(registrationId, null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) Cancels registration. Response: * Successful operation
	 * uses 204 No Content * Errors use a non-2xx and (optionally) an error
	 * payload. See subsection on \&quot;Error Responses\&quot; for more
	 * details.
	 * 
	 * @param registrationId
	 *            registration Id. (required)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call deleteContextProviderRegistrationAsync(String registrationId,
			final ApiCallback<Void> callback) throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = deleteContextProviderRegistrationCall(registrationId, progressListener,
				progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for deleteSubscription */
	private com.squareup.okhttp.Call deleteSubscriptionCall(String subscriptionId,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// verify the required parameter 'subscriptionId' is set
		if (subscriptionId == null) {
			throw new ApiException(
					"Missing the required parameter 'subscriptionId' when calling deleteSubscription(Async)");
		}

		// create path and map variables
		String localVarPath = "/v2/subscriptions/{subscriptionId}".replaceAll("\\{format\\}", "json")
				.replaceAll("\\{" + "subscriptionId" + "\\}", apiClient.escapeString(subscriptionId.toString()));

		List<Pair> localVarQueryParams = new ArrayList<Pair>();

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * Cancels subscription. Response: * Successful operation uses 204 No
	 * Content * Errors use a non-2xx and (optionally) an error payload. See
	 * subsection on \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param subscriptionId
	 *            subscription Id. (required)
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void deleteSubscription(String subscriptionId) throws ApiException {
		deleteSubscriptionWithHttpInfo(subscriptionId);
	}

	/**
	 * 
	 * Cancels subscription. Response: * Successful operation uses 204 No
	 * Content * Errors use a non-2xx and (optionally) an error payload. See
	 * subsection on \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param subscriptionId
	 *            subscription Id. (required)
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> deleteSubscriptionWithHttpInfo(String subscriptionId) throws ApiException {
		com.squareup.okhttp.Call call = deleteSubscriptionCall(subscriptionId, null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) Cancels subscription. Response: * Successful operation
	 * uses 204 No Content * Errors use a non-2xx and (optionally) an error
	 * payload. See subsection on \&quot;Error Responses\&quot; for more
	 * details.
	 * 
	 * @param subscriptionId
	 *            subscription Id. (required)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call deleteSubscriptionAsync(String subscriptionId, final ApiCallback<Void> callback)
			throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = deleteSubscriptionCall(subscriptionId, progressListener,
				progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for getAttributeData */
	private com.squareup.okhttp.Call getAttributeDataCall(String entityId, String attrName, String type,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// verify the required parameter 'entityId' is set
		if (entityId == null) {
			throw new ApiException("Missing the required parameter 'entityId' when calling getAttributeData(Async)");
		}

		// verify the required parameter 'attrName' is set
		if (attrName == null) {
			throw new ApiException("Missing the required parameter 'attrName' when calling getAttributeData(Async)");
		}

		// create path and map variables
		String localVarPath = "/v2/entities/{entityId}/attrs/{attrName}".replaceAll("\\{format\\}", "json")
				.replaceAll("\\{" + "entityId" + "\\}", apiClient.escapeString(entityId.toString()))
				.replaceAll("\\{" + "attrName" + "\\}", apiClient.escapeString(attrName.toString()));

		List<Pair> localVarQueryParams = new ArrayList<Pair>();
		if (type != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "type", type));

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * Returns a JSON object with the attribute data of the attribute. The
	 * object follows the JSON representation for attributes (described in
	 * \&quot;JSON Attribute Representation\&quot; section). Response: *
	 * Successful operation uses 20O OK. * Errors use a non-2xx and (optionally)
	 * an error payload. See subsection on \&quot;Error Responses\&quot; for
	 * more details.
	 * 
	 * @param entityId
	 *            Id of the entity (required)
	 * @param attrName
	 *            Name of the attribute to be retrieved. (required)
	 * @param type
	 *            Entity type, to avoid ambiguity in the case there are several
	 *            entities with the same entity id. (optional)
	 * @return Attributes
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public Attributes getAttributeData(String entityId, String attrName, String type) throws ApiException {
		ApiResponse<Attributes> resp = getAttributeDataWithHttpInfo(entityId, attrName, type);
		return resp.getData();
	}

	/**
	 * 
	 * Returns a JSON object with the attribute data of the attribute. The
	 * object follows the JSON representation for attributes (described in
	 * \&quot;JSON Attribute Representation\&quot; section). Response: *
	 * Successful operation uses 20O OK. * Errors use a non-2xx and (optionally)
	 * an error payload. See subsection on \&quot;Error Responses\&quot; for
	 * more details.
	 * 
	 * @param entityId
	 *            Id of the entity (required)
	 * @param attrName
	 *            Name of the attribute to be retrieved. (required)
	 * @param type
	 *            Entity type, to avoid ambiguity in the case there are several
	 *            entities with the same entity id. (optional)
	 * @return ApiResponse&lt;Attributes&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Attributes> getAttributeDataWithHttpInfo(String entityId, String attrName, String type)
			throws ApiException {
		com.squareup.okhttp.Call call = getAttributeDataCall(entityId, attrName, type, null, null);
		Type localVarReturnType = new TypeToken<Attributes>() {
		}.getType();
		return apiClient.execute(call, localVarReturnType);
	}

	/**
	 * (asynchronously) Returns a JSON object with the attribute data of the
	 * attribute. The object follows the JSON representation for attributes
	 * (described in \&quot;JSON Attribute Representation\&quot; section).
	 * Response: * Successful operation uses 20O OK. * Errors use a non-2xx and
	 * (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param entityId
	 *            Id of the entity (required)
	 * @param attrName
	 *            Name of the attribute to be retrieved. (required)
	 * @param type
	 *            Entity type, to avoid ambiguity in the case there are several
	 *            entities with the same entity id. (optional)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call getAttributeDataAsync(String entityId, String attrName, String type,
			final ApiCallback<Attributes> callback) throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = getAttributeDataCall(entityId, attrName, type, progressListener,
				progressRequestListener);
		Type localVarReturnType = new TypeToken<Attributes>() {
		}.getType();
		apiClient.executeAsync(call, localVarReturnType, callback);
		return call;
	}

	/* Build call for getAttributeValue */
	private com.squareup.okhttp.Call getAttributeValueCall(String entityId, String attrName, String type,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// verify the required parameter 'entityId' is set
		if (entityId == null) {
			throw new ApiException("Missing the required parameter 'entityId' when calling getAttributeValue(Async)");
		}

		// verify the required parameter 'attrName' is set
		if (attrName == null) {
			throw new ApiException("Missing the required parameter 'attrName' when calling getAttributeValue(Async)");
		}

		// create path and map variables
		String localVarPath = "/v2/entities/{entityId}/attrs/{attrName}/value".replaceAll("\\{format\\}", "json")
				.replaceAll("\\{" + "entityId" + "\\}", apiClient.escapeString(entityId.toString()))
				.replaceAll("\\{" + "attrName" + "\\}", apiClient.escapeString(attrName.toString()));

		List<Pair> localVarQueryParams = new ArrayList<Pair>();
		if (type != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "type", type));

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] {};
		return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams,
				localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	/**
	 * 
	 * This operation returns the &#x60;value&#x60; property with the value of
	 * the attribute. * If attribute value is JSON Array or Object: * If
	 * &#x60;Accept&#x60; header can be expanded to &#x60;application/json&#x60;
	 * or &#x60;text/plain&#x60; return the value as a JSON with a response type
	 * of application/json or text/plain (whichever is the first in
	 * &#x60;Accept&#x60; header or &#x60;application/json&#x60; in the case of
	 * &#x60;Accept: *_/_*&#x60;). * Else return a HTTP error \&quot;406 Not
	 * Acceptable: accepted MIME types: application/json, text/plain\&quot; * If
	 * attribute value is a string, number, null or boolean: * If
	 * &#x60;Accept&#x60; header can be expanded to text/plain return the value
	 * as text. In case of a string, citation marks are used at the begining and
	 * end. * Else return a HTTP error \&quot;406 Not Acceptable: accepted MIME
	 * types: text/plain\&quot; Response: * Successful operation uses 20O OK. *
	 * Errors use a non-2xx and (optionally) an error payload. See subsection on
	 * \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param entityId
	 *            Id of the entity in question (required)
	 * @param attrName
	 *            Name of the attribute to be retrieved. (required)
	 * @param type
	 *            Entity type, to avoid ambiguity in the case there are several
	 *            entities with the same entity id. (optional)
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public void getAttributeValue(String entityId, String attrName, String type) throws ApiException {
		getAttributeValueWithHttpInfo(entityId, attrName, type);
	}

	/**
	 * 
	 * This operation returns the &#x60;value&#x60; property with the value of
	 * the attribute. * If attribute value is JSON Array or Object: * If
	 * &#x60;Accept&#x60; header can be expanded to &#x60;application/json&#x60;
	 * or &#x60;text/plain&#x60; return the value as a JSON with a response type
	 * of application/json or text/plain (whichever is the first in
	 * &#x60;Accept&#x60; header or &#x60;application/json&#x60; in the case of
	 * &#x60;Accept: *_/_*&#x60;). * Else return a HTTP error \&quot;406 Not
	 * Acceptable: accepted MIME types: application/json, text/plain\&quot; * If
	 * attribute value is a string, number, null or boolean: * If
	 * &#x60;Accept&#x60; header can be expanded to text/plain return the value
	 * as text. In case of a string, citation marks are used at the begining and
	 * end. * Else return a HTTP error \&quot;406 Not Acceptable: accepted MIME
	 * types: text/plain\&quot; Response: * Successful operation uses 20O OK. *
	 * Errors use a non-2xx and (optionally) an error payload. See subsection on
	 * \&quot;Error Responses\&quot; for more details.
	 * 
	 * @param entityId
	 *            Id of the entity in question (required)
	 * @param attrName
	 *            Name of the attribute to be retrieved. (required)
	 * @param type
	 *            Entity type, to avoid ambiguity in the case there are several
	 *            entities with the same entity id. (optional)
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException
	 *             If fail to call the API, e.g. server error or cannot
	 *             deserialize the response body
	 */
	public ApiResponse<Void> getAttributeValueWithHttpInfo(String entityId, String attrName, String type)
			throws ApiException {
		com.squareup.okhttp.Call call = getAttributeValueCall(entityId, attrName, type, null, null);
		return apiClient.execute(call);
	}

	/**
	 * (asynchronously) This operation returns the &#x60;value&#x60; property
	 * with the value of the attribute. * If attribute value is JSON Array or
	 * Object: * If &#x60;Accept&#x60; header can be expanded to
	 * &#x60;application/json&#x60; or &#x60;text/plain&#x60; return the value
	 * as a JSON with a response type of application/json or text/plain
	 * (whichever is the first in &#x60;Accept&#x60; header or
	 * &#x60;application/json&#x60; in the case of &#x60;Accept: *_/_*&#x60;). *
	 * Else return a HTTP error \&quot;406 Not Acceptable: accepted MIME types:
	 * application/json, text/plain\&quot; * If attribute value is a string,
	 * number, null or boolean: * If &#x60;Accept&#x60; header can be expanded
	 * to text/plain return the value as text. In case of a string, citation
	 * marks are used at the begining and end. * Else return a HTTP error
	 * \&quot;406 Not Acceptable: accepted MIME types: text/plain\&quot;
	 * Response: * Successful operation uses 20O OK. * Errors use a non-2xx and
	 * (optionally) an error payload. See subsection on \&quot;Error
	 * Responses\&quot; for more details.
	 * 
	 * @param entityId
	 *            Id of the entity in question (required)
	 * @param attrName
	 *            Name of the attribute to be retrieved. (required)
	 * @param type
	 *            Entity type, to avoid ambiguity in the case there are several
	 *            entities with the same entity id. (optional)
	 * @param callback
	 *            The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException
	 *             If fail to process the API call, e.g. serializing the request
	 *             body object
	 */
	public com.squareup.okhttp.Call getAttributeValueAsync(String entityId, String attrName, String type,
			final ApiCallback<Void> callback) throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = getAttributeValueCall(entityId, attrName, type, progressListener,
				progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}

	/* Build call for listEntities */
	private com.squareup.okhttp.Call listEntitiesCall(String id, String type, String idPattern, String typePattern,
			String q, String mq, String georel, String geometry, String coords, Double limit, Double offset,
			String attrs, String orderBy, String options, final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// create path and map variables
		String localVarPath = "/v2/entities".replaceAll("\\{format\\}", "json");

		List<Pair> localVarQueryParams = new ArrayList<Pair>();
		if (id != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "id", id));
		if (type != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "type", type));
		if (idPattern != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "idPattern", idPattern));
		if (typePattern != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "typePattern", typePattern));
		if (q != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "q", q));
		if (mq != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "mq", mq));
		if (georel != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "georel", georel));
		if (geometry != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "geometry", geometry));
		if (coords != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "coords", coords));
		if (limit != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
		if (offset != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
		if (attrs != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "attrs", attrs));
		if (orderBy != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "orderBy", orderBy));
		if (options != null)
			localVarQueryParams.addAll(apiClient.parameterToPairs("", "options", options));

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = { "application/json" };
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		if (localVarContentType != null)
			localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
[...]
